@charset "utf-8";
/* CSS Document */

/* Table of Contents
-----------------------------
1. Mobile
2. iPad
3. large desktop
4. Other
*/
.main_section.home_page{padding-top: 136px;}
.headerSearchContainer{display: none; background: #0C2340;}
.headerSearchContainer input {display: block; padding: 0.8em 0; margin: 0.8em 0 1.2em 0; text-indent: 15px; width: 100%; border: 1px solid #999; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; background: #ffffff url("https://graduateschool.utsa.edu/images/site/global-search-icon.jpg") no-repeat right 10px center; }
.clearfix:after {clear: both; }
.clearfix:before, .clearfix:after {content: " "; display: table; }
#headerSearchCTA{color: #f15a22; font-weight: bold; margin-top: 0.8em;}
.showSearch{display:block;}
.hideSearch{display:none;}
#globalHeaderContainer #mobile-menu-inner{display: none;}
#mobile-menu{display: none;}
.email button{margin-top: -39px;}
#gsc-i-id1{line-height: 22px;}
/* 1. Mobile responsive css 767px
-----------------------------------*/
@media (max-width:767px) {

    body{min-width: inherit;}
    .container{width: 100%;padding-left: 13px;padding-right: 13px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .wrapper {width: 100%;}
    .customSelect{padding-right: 25px;}
    .customSelectWrap{z-index: 99;}
    .customSelect:after{z-index: 99;}

    /* header */
    header .header_left {width: 100%; background: #FF5A18;}
    #mobile-menu .top-navigation {display: none;}
    #mobile-menu li.mobile-top-links {display: block !important;}
    header.grad .header_inner {height: 67px;}
    header.grad .head.header_left {height: 67px;}
    .search{width: 100%;}
    .search .search_form form input[type="text"]{width: 70%;-webkit-border-radius: 0}    

    /* footer */
    footer .row .col {width: 100%;}

    h3 {font-size: 22px !important;}
    footer .row .col_contact {float: left; width: 32%; display: block;} 
    footer .row .col_contact .data h5 {font-size: 14px !important;}
    footer .row .col_contact .data {width: 100%; padding: 20px 20px 10px; box-sizing: border-box; }
    footer .row .col_contact+.col_contact, footer .row .col_contact+.col_contact+.col_contact {width: 30%; margin: 0; padding: 0; float: left; padding: 10px 20px; box-sizing: border-box; }
    footer .row .col_contact+.col_contact.new-newsletter{width: 38%}
    footer .new-newsletter input[type="email"] {padding-right: 10px;}
    footer .row .col_contact li a:hover img{margin-left: 0;}
    footer .row .col_contact ul {padding: 0;}
    footer .last_row .col{text-align: center;}
    footer .last_row .col+.col{width: 49% !important; display: inline-block !important; text-align: left; padding-left: 40px !important;}
    footer .last_row .col+.col+.col{width: 50% !important; display: inline-block;}
    footer .last_row .col+.col+.col+.col{width: 100% !important; text-align: center;}
    footer .last_row .col, footer .last_row .col+.col, footer .last_row .col+.col+.col, footer .last_row .col+.col+.col+.col {width: 100%; padding: 0; margin: 0; padding: 10px 20px;box-sizing: border-box; display: block; position: relative;}
    footer .last_row .col img {float: none;}
    footer .last_row .col input[type="text"] {width: 70%;}
    footer .row .col.twitter-feed article {padding: 20px;}
    footer .row .col.twitter-feed h3 {font-size: 22px;}
    footer .row .col.twitter-feed h3 img {width: 20px; padding-left: 7px; padding-right: 7px;}
    footer .row .col.twitter-feed p, footer .row .col.twitter-feed span {padding-left: 36px;}
    footer .new-newsletter p{line-height: 18px;}

    /*--------- home page ------------*/
    .main_section{border-left: 4px solid #fff;}
    .load_icon{position: fixed;}
    .slider_block{width: 100%; margin-left: -50%; padding: 0 40px;  margin-top: 0px; height: 350px; display: table; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .nav-control{top:  calc(50% - 10px);}
    .main_section.home_page{padding-top: 118px;}
    #home_banner li .slide_img{height: 350px;}
    .banner{margin: 20px 0; float: none; display: table-cell; vertical-align: middle;}
    .banner h2{font-size: 26px; margin-bottom: 15px; line-height: 28px; }
    .banner h1{font-size: 34px; line-height: 32px; margin-bottom: 20px;}
    .banner_link{display: inline-block;}
    .banner_link a{padding: 2px 10px; margin-bottom: 8px; font-size: 12px; width: inherit; text-align: left;}
    .nav-control a{width: 12px; height: 12px; border-width: 3px;}
    .banner_nav ul{width: 100%; padding: 5px 0;}
    .banner_nav ul li.first{margin: 0;}
    .banner_nav ul li.first span{font-size: 12px; font-weight: 700;}
    .banner_nav li a{font-size: 14px;}
    .row .content{padding: 20px;}
    .row .col h2{font-size: 36px; line-height: 40px; padding-top: 7px;}
    .row .col h3{font-size: 26px; line-height: 30px; padding-top: 7px;}
    .row .col h5{font-size: 16px; padding-top: 10px;line-height: 22px;}
    .row .col{width: 100%; border:none;}
    .row.third .inner_row{width: 100%; border:none;}
    .row .inner_row.first .content{width: 40%;}
    .row .inner_row_box .content{padding: 15px; width: 100%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .row .inner_col_box .content{padding: 15px; width: 100%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .row.third .inner_row_box h3{font-size: 34px; line-height: 38px;}
    .passion .content{padding: 20px; width: 100%; padding-bottom: 30px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; position: relative; z-index: 1;}
    .passion .content h3{font-size: 34px; line-height: 38px; width: 100%; margin-bottom: 15px; padding: 0;}
    .passion .content:after {content: ''; display: block; position: absolute; top: 0; right: 0; width: 100%; z-index: -1; height: 100%; background:#479099;}
    .passion img{/*max-width: 100%;*/ margin: 0 auto; width: 100%;}
    .passion .left:after{display: none;}
    
    /*--------- about-us page ------------*/
    .row .inner_row .content{width: 100%;}
    .row.first .inner_row_box.left:before{z-index: 9;}
    .resources :before{display: none;}
    .resources:before{content: ""; display: block; position: absolute; top: 20px; left: 20px; background: #156570; width: 50px; height: 3px;}
    .resources li{position: relative; padding-left: 30px;}
    .resources li img{position: absolute; top: 10px; left: 0;}
    .contact_admission :before{display: none;}
    .contact_admission:before{content: ""; display: block; position: absolute; top: 20px; left: 20px; background: #156570; width: 50px; height: 3px;}
    .cat_page_right{padding: 30px 15px;}
    .cat_page_right h1{font-size: 26px; line-height: 32px; word-wrap: break-word;}
    .cat_page_right p{margin-top: 10px; word-wrap: break-word;}    
    .cat_page_right .bottom{padding-top: 50px; background-size: 22%; background-position: 80% 24%;}
    .cat_page_right .program_information{width: 100%; margin-top: 30px;}
    .cat_page_right .bottom h2{font-size: 26px; line-height: 32px;}
    .cat_page_right .ask_question{padding: 12px 5px 12px 20px;}
    .cat_page_right .ask_question input[type="text"]{width: 80%;}
    .ask_question input[type='submit']{margin-top: -8px; padding: 10px;}
    .admission_information{width: 100%;}
    .admission_information.alumni{width: 50%;}
    .admission_information.second.alumni{width: 50%;}
    .admission_information .data{margin-top: 30px;}
    .admission_information .data .link_container a{margin-bottom: 5px;}
    .cat_page_right .admission_information a.first{font-weight: 700;}
    .cat_page_right .admission_information a.first:before{top: -7px; height: 2px;}
    .admission_col.left{width: 100%; overflow: hidden; border:none;}
    .admission_col.left .degrees p{margin-top: 20px;}
    .admission_col.left .degrees img{display: none;}
    .admission_col.left .degrees .content{position: relative; padding: 20px; width: 100%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .admission_col.left .degrees h5{line-height: 32px; font-weight: 700;}
    .admission_col.right{width: 100%; padding: 0; padding-bottom: 20px;}
    .admission_col.right strong a{word-wrap: break-word;}
    .apply .block .content{padding: 10px 0;}
    .apply .block .content a{padding: 5px 20px;}
    .dates.left{width: 80%; margin-bottom: 25px;}
    .dates.right{width: 100%;}
    .dates.right .calender_block{padding: 15px; width: 100%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .dates.left h4{font-size:26px; line-height: 30px; margin-top: 20px;}
    .explore{height: auto; max-height: inherit;}
    .explore .main_explore_image{display: none;}
    .explore_content h4{margin: 25px 25px 15px; font-size: 26px;}
    .explore_content h4:before{left: 25px;}
    .explore .explore_content{margin: 0; position: relative;}
    .explore_box{text-align: center; padding:0 0 15px 0;}
    .explore_box li.first{border-width: 3px;}
    .explore_box .box{width: 100%; max-width: 300px; padding: 5px 15px; float: none; margin: 0 auto; text-align: left; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .explore_box li{width: 100%;}
    .explore_box li+li a{padding-right: 15px; position: relative;}
    .explore_box li+li a img{position: absolute; margin: 0; float: none; right: 0; top: 6px;}
    .graphics_b{background-size: cover !important; background-position: center center !important; background-repeat: no-repeat !important;}
    .cat_page_right ul ul{padding-left: 0;}
    .cat_page_right ul ul ul{padding-left: 0;}
    .admission_col.right p a{word-wrap: break-word;}
    .map_menu ul{padding: 0 15px; text-align: center;}
    .map_menu li{margin: 0; width: inherit;}
    .map_menu li a{padding: 0 15px; font-size: 14px; line-height: 50px;}
    .map_menu li a.active:after{border-width: 7px; top: 36px; display: none;}
    .map_menu li+li{margin: 0;}
    .map_menu li+li+li{margin: 0;}
    .full_forms{padding: 10px 0;}
    .full_forms .full_forms_box_container{margin: 0px;}
    .full_forms .full_forms_box{width: 100%;}
    .full_forms .full_forms_box ul{margin: 0 15px;}
    .full_forms .full_forms_box p{width: 18%;}
    .full_forms .full_forms_box a:hover{margin-left: 0;}
    .full_forms .full_forms_box li ul{width: initial; margin-left: 18%;}
    .full_forms .full_forms_box li ul li{width: inherit;}
    .staff_details .row_box .col_box{width: 100%;}

    /*--------- 404 page ------------*/
    .entry_page_right{padding: 30px 15px;}
    .entry_page_right h1{font-size: 26px; line-height: 32px;}
    .entry_page_right h2{font-size: 22px; line-height: 28px;}
    .entry_page_right.error_page p{margin-top: 20px;}
    .entry_page_right.error_page h2{line-height: 24px; font-size: 18px;}
    .entry_page_right h3{margin: 10px 0;}
    .entry_page_right h3 img{width: 100% !important; display: block;}
    .entry_page_right p img{width: 100% !important; display: block; height: auto !important;}
    .entry_page_right p{margin-top: 10px;}
    .main_section.table-str-block .entry_page_right table + hr{min-width: 640px;}
    .entry_page_right .sruc-scroll.tableview-block hr{min-width: 640px;}
    .tableview-block h3 + hr{min-width: 640px;}
    .entry_page_right p iframe{width: 100% ;}
    .entry_page_right ul{margin-left: 20px;}
    .entry_page_right ol{margin-left: 20px;}

    /*--------- blog page ------------*/
    .topics .block:first-child h5{position: relative; padding: 15px 30px 15px 22px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; width: 100%;}
    .topics .block:first-child h5:after{content: ''; position: absolute; top: calc(50% - 7px); right: 30px; width: 7px; height: 7px; border: 2px solid #fff; z-index: 99; pointer-events: none; border-right: 0; border-bottom: 0; transform: rotate(225deg); -webkit-transform: rotate(225deg); }
    .topics .block .content{display: none; padding: 10px 0;}
    .topics .block .content a{padding: 5px 20px;}
    .block .content a.current:after, .block .content a.active:after{display: none;}
    .block .content a.current, .block .content a.active{color: #dc4d17; font-weight: 700}
    .topics .block .content a.active{color: #dc4d17;}
    .email{padding-bottom: 30px;}
    .email .email_inner{padding: 10px 3px 10px 15px;}
    .email .box.right{width: inherit; float: none; display: inline;}
    .email button{padding: 8px; margin-top: -26px;}
    .news_bottom .news_col{width: 100%;}
    .news_bottom .news_col .news_content{margin-left: 0px; margin-top: 15px;}
    .news_menu .block{width: 100%; margin-bottom: 10px;}
    .news_menu .block.right{width: 100%;}
    .news_menu .block.right .social_feed{padding-left: 0; float: none;}
    .social_feed li{margin: 0 10px;}
    .social_feed li:first-child{margin-left: 0;}

    /*--------- faculty-staff page ------------*/
    .block .dropdown_content{font-size: 14px; margin: 15px;}
    .apply_links{text-align: center; padding-top: 15px; padding-bottom: 8px;}
    .apply_links a{margin-bottom: 10px; width: inherit; font-size: 18px; padding: 12px 25px;}
    .apply_links a:before{left: 25px; width: 40px; height: 2px; top: 10px;}
    .apply_links a.last{float: none;}
    .other_students{text-align: center; padding-top: 15px;}
    .other_students a{margin-bottom: 10px; width: inherit; font-size: 18px; padding: 15px 25px;}
    .other_students a:before{left: 25px; width: 40px; height: 2px;}
    .other_students a + a{float: none;}

    /*--------- admission page ------------*/
    .cat_page_right .information{width: 100%;}
    .cat_page_right .information .data{margin-top: 30px;}
    .cat_page_right .information a{padding-right: 10px; font-weight: 700;}
    .cat_page_right .information a:before{top: -8px; height: 2px;}
    .cat_page_right .information img{padding: 0;}
    .faq_section{padding: 20px;}
    .faq_section h1{font-size: 26px; line-height: 32px; margin-bottom: 15px;}
    .faqs{width: 100%; padding: 0;}
    .faqs .right_block a{display: block;}
    .faqs .right_block h3:after{right: -15px;}
    .faqs ul{margin-left: 20px;}

    /*--------- new-students page ------------*/
    .explore_student_life{overflow: hidden;}
    .explore_student_life .main_explore_student_life_image{display: none;}
    .explore_student_life .explore_student_life_content{position: relative; margin: 20px; margin-bottom: 0;}
    .explore_student_life_content h4{margin-bottom: 20px; font-size: 26px; line-height: 40px;}
    .explore_student_life_box{padding-bottom: 30px;}
    .explore_student_life_box .box.first li.first{border-width: 3px;}
    .explore_student_life_box .box.first li{width: 100%; max-width: 302px;}
    .explore_student_life_box .box {margin-left: 0; width: 40%; min-width: 200px; margin: 0 auto; padding-left: 0px; }
    .explore_student_life_box .box.first {margin-left: 0; margin: 0 auto; display: inline-block; width: 50%; min-width: 210px; }
    .explore_student_life_box .box.links ul{padding: 0 20px; width: 100%;}
    .explore_student_life_box .box.links ul li{width: inherit;}
    .contact_admission h4{margin-bottom: 10px;}
    .contact_admission .content{padding-top: 0;}
    table.border_class{width: 100% !important;}
    table.border_class ul{margin-left: 20px;}

    /*--------- current-students page ------------*/
    .student_services .main_student_services_image{display: none;}
    .student_services .student_services_content{position: relative; margin: 30px; margin-bottom: 0;}
    .student_services_content h4{margin-bottom: 30px; font-size: 26px;}
    .student_services_box{text-align: center;}
    .student_services_box .box{margin: 0; float: none; padding: 20px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

    /*-----------program page--------------*/
    .program_page_right .requirements{padding-left: 0; margin-top: 10px; text-align: center;} 
    .program_page_right .requirements a{padding: 14px 20px; margin-bottom: 10px;}
    .program_page_right .bottom_content{margin-left: 0;}
    .program_page_right h2{margin-top: 20px; line-height: 26px;}
    .program_page_right .bottom_content .box{width: 100%; border-right: 0;}
    .program_page_right .bottom_content .box + .box{border-left :0; margin-left: 0; border-top: 1px solid #cccccc;}
    .choose_program .choose h6{font-size: 14px; font-weight: 600;}

    /*-----------event page--------------*/
    .pd-left.cat_page_right{padding-right: 0;}
    .pd-left.cat_page_right h1{margin-left: 20px;}
    .pd-left .events_row{padding: 20px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .events_row.first{margin-top: 20px;}
    .events_col{width: 100%; float: none;}
    .events_col.first{padding-right: 0px; text-align: left;}
    .events_col.first h2{font-size: 24px; line-height: 28px;}
    .events_col .events_content{margin-left: 0px;}
    .events_menu .block{width: 100%;}
    .events_menu .block.right{width: 100%; padding: 10px 0;}
    .cat_page_right ul{float: none;}
    .cat_page_right ul.social_feed{padding-left: 0;}
    .cat_page_right ul li a{word-wrap: break-word;}
    .cal_menu ul{width: 100%;}
    .cal_menu li{margin-right: 0; width: 140px;}
    .calendar table tr td .event_dates{min-height: inherit; height: 170px !important;}
    .calendar .calendar_top a{margin-right: 40px; font-size: 30px;}
    .calendar .calendar_top a img{margin-top: 0;}
    .main_section .events_bottom.entry.sruc-scroll-block.tableview table td{padding-right: 3px; font-size: 12px;}
    .calendar table tr td .event_dates h4{margin-bottom: 0;}
    .calendar table tr td .event_dates p{font-size: 10px; margin-bottom: 5px;}

    /*-----------news page--------------*/
    .news_bottom .news_row{margin-top: 15px;}
    .news_bottom.entry p{margin-top: 10px;}
    .news_bottom.entry p img{max-width: 100% !important; height: auto !important; float: none !important; display: block}
    .new_dates .row{width: 100%; padding: 15px;  -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .new_dates .row:before{top: 12%; bottom: auto; right: 16px;}
    .new_dates .col.left{margin-bottom: 30px;}
    .new_dates .col .content{margin: 0;}
	
    .email .submit{padding: 10px 20px; margin-top: -8px;}
    .faqs .right_block h3{font-size: 17px !important;}
    #sb-container{width: 100% !important; height: 100% !important;}   
}

/* 2. iPad responsive css 768px to 1024px
-----------------------------------------*/
@media (min-width:768px) and (max-width:1024px) {

    /* default  */
    body{min-width: inherit;}
    .container{width: 100%;padding-left: 13px;padding-right: 13px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .wrapper {width: 100%;}	
    #full_wrapper{min-height: 85%;}

    /* header */
    header .header_left {height: 67px; background: #FF5A18; width: 300px;}
    header .header_right .nav {margin-top: 3px;}
    header .header_right{width: 70%; padding-right: 10px;}
    header .header_right .nav>ul.menu_container>li:after, .grad .header_right .nav>ul.menu_container>li:after {margin-top: 0px;}
    header .header_inner_new .header_right .nav>ul.menu_container>li:after, .grad .header_inner_new .header_right .nav>ul.menu_container>li:after{margin-top: 0;}
    header .header_inner_new .head .nav li a{display: block;}
    header .header_right .nav li .menu {top: 68px; left: 0; width: calc(100% - 30px);}
    header .header_right .nav li:hover a:after {bottom: -5px;}
    header.grad .head.header_left {width: 34%; overflow: hidden; position: relative;}
    header.grad .header_left img {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
    header.grad .header_right .nav {margin-top: 5px;}
    .search{width: 100%;}
    .search .search_form form input[type="text"]{-webkit-border-radius: 0} 
    header .header_right .nav li .menu .col.third-party{min-height: 288px;}
    
    /*header.grad .header_right .nav {margin-top: 0;}*/
    header.grad .head.header_right {padding-top: 0;}
    header.grad .head.header_right {width: 66%;   padding-right: 10px;}
    header.grad .header_right .nav li .menu {top: 65px; width: calc(100% - 25px);}
    header.grad .header_right .nav li {margin: 0 3px;}
    
    /* footer */
    footer .last_row{padding-bottom: 20px !important}
    footer .row .col_contact {width: 40%;}
    footer .row .col_contact h3 {font-size: 36px;}
    footer .row .col_contact h5 {font-size: 16px;}
    footer .last_row .col {width: 95px;}    
    footer .last_row .col+.col+.col {width: 140px;}
    footer .row .col_contact ul{padding: 20px 0;}
    footer .row .col.twitter-feed article{padding: 23px;}
    footer .row .col_contact+.col_contact.new-newsletter{width: 39%; padding-top: 25px;}

    /*--------- home page ------------*/
    .main_section.home_page{padding-top: 117px;}
    .slider_block{width: 100%; margin-left: -50%; padding: 0 40px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    #home_banner li .slide_img{height: 621px;}
    .banner{margin: 80px 0; float: none;}
    .banner h2{font-size: 36px; margin-bottom: 15px;}
    .banner h1{font-size: 52px; line-height: 55px; margin-bottom: 15px;}
    .banner_link a{padding: 15px; margin-bottom: 10px; float: left;}
    .banner_nav ul{width: 100%;}
    .row .content{padding: 20px;}
    .row .col h2{font-size: 36px; line-height: 40px; padding-top: 7px;}
    .row .col h3{font-size: 26px; line-height: 30px; padding-top: 7px;}
    .row .col h5{font-size: 16px; padding-top: 10px;line-height: 22px;}
    .row.first .inner_row_box.take-tour-box h4{font-size: 15px; padding: 20px 5px 0; max-width: 100%;}
    .row.first .inner_row_box.take-tour-box h4:before{font-size: 25px; line-height: 15px; top: 0;}
    .row .inner_row_box .content{padding: 15px; width: 100% !important; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .row .inner_col_box .content{padding: 15px; width: 100%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .row.third .inner_row_box h3{font-size: 34px; line-height: 38px;}
    .passion .content{max-width: 50%; padding: 15px; width: 100%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .passion .content h3{font-size: 32px; line-height: 34px; width: 100%; margin-bottom: 10px; padding: 0;}
    .passion .content h5{font-size: 16px;}
    .passion .content h6{font-size: 16px;}
    .passion .content br{display: none;}
    .passion img{max-width: 64%;}
    .passion .left:after{/*width: 50%;*/ background-size: 100% 100%;}
    .passion .content a{border:1px solid #EAEAEA;}

    /*--------- about-us page ------------*/    
    .resources :before{display: none;}
    .resources:before{content: ""; display: block; position: absolute; top: 20px; left: 20px; background: #156570; width: 50px; height: 3px;}
    .resources li{position: relative; padding-left: 30px;}
    .resources li img{position: absolute; top: 10px; left: 0;}
    .row .inner_row .content{width: 48%;}
    .row.first .inner_row_box.left:before{z-index: 9;}
    .cat_page_right h1{font-size: 36px; line-height: 40px;}
    .admission_col.left .degrees img{display: none;}
    .admission_col.left .degrees .content{position: relative; padding: 30px; width: 100%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .admission_col.left .degrees h5{line-height: 35px;}
    .dates.left{width: 31%;}
    .dates.right{width: 60%;}
    .explore{height: auto; max-height: inherit;}
    .explore .main_explore_image{display: none;}
    .explore_content h4{margin: 15px;}
    .explore_content h4:before{left: 15px;}
    .explore .explore_content{margin: 0; position: relative;}
    .explore_box .box{width: 33.3333%; padding: 15px; float: none; margin: 0 auto; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .explore_box li{width: 100%;}
    .explore_box li+li a{padding-right: 15px; position: relative;}
    .explore_box li+li a img{position: absolute; margin: 0; float: none; right: 0; top: 6px;}
    .graphics_b{background-size: cover !important; background-position: center center !important; background-repeat: no-repeat !important;}
    .admission_col.right p a{word-wrap: break-word;}
    .map_menu ul{padding: 0 20px; text-align: center;}
    .map_menu li{margin: 0; width: inherit;}
    .map_menu li a{padding: 0 15px;}
    .map_menu li+li{margin: 0;}
    .map_menu li+li+li{margin: 0;}
    .full_forms .full_forms_box_container{margin: 0 20px;}
    .full_forms .full_forms_box{width: 32%;}
    .full_forms .full_forms_box a:hover{margin-left: 0;}
    .full_forms .full_forms_box ul{margin: 0 15px;}
    .full_forms .full_forms_box p{width: 18%;}
    .full_forms .full_forms_box li ul{width: inherit;}
    .full_forms .full_forms_box li ul li{width: inherit;}

    /*--------- 404 page ------------*/
    .entry_page_right{padding: 40px;}
    .entry_page_right h1{font-size: 29px; line-height: 36px;}
    .entry_page_right ul{margin-left: 20px;}
    .entry_page_right h2{line-height: 36px;}
    .entry_page_right .sruc-scroll.tableview-block hr{min-width: 640px;}
    .tableview-block h3 + hr{min-width: 640px;}

    /*--------- blog page ------------*/
    .email .email_inner{padding: 10px 15px; padding-right: 6px;}
    .email button{padding:6px 10px; margin-top: -24px;}
    .cat_page_right{padding:40px 30px 30px;}
    .cat_page_right .news_bottom table{width: 100% !important;}
    .cat_page_right .bottom{padding-top: 50px; background-size: 30%; background-position: 80% 25%;}
    .cat_page_right .bottom .view input[type='submit']{margin: 10px;}
    .cat_page_right .information .data{padding-right: 5px;}
    .news_bottom .news_col .news_content{margin-left: 20px;}
    .social_feed li{margin: 0 12px;}
    
    .staff_details .row_box_container .col_box.right p{margin-top: 10px; }
    .staff_details .row_box_container .col_box_inner p{word-wrap: break-word;}
    .staff_details .row_box_container .col_box_inner.right{padding-left: 10px; padding-right: 10px;}
    .news_menu .block{width: 44%;}
    .news_menu .block.right{width: 56%;}
    .news_menu .block.right .social_feed li{margin: 0 8px;}

    /*--------- faculty-staff page ------------*/
    .block .dropdown_content{font-size: 14px; margin: 15px;}
    .apply_links{display: inline-block; text-align: center; padding-top: 10px;}
    .apply_links a{margin-bottom: 10px;}
    .apply_links a.last{float: none;}
    .other_students{text-align: center; padding-top: 10px;}
    .other_students a{margin-bottom: 10px;}
    .other_students a + a{float: none;}

    /*--------- admission page ------------*/
    .cat_page_right .information p{width: 92%;}
    .cat_page_right .information a{padding-right: 0;}
    .cat_page_right .information img{padding: 0;}
    .faq_section{padding: 30px;}
    .faq_section h1{font-size: 38px; line-height: 42px; margin-bottom: 30px;}
    .faqs{width: 100%; padding: 0;}
    .faqs ul{margin-left: 20px;}
    .block .content{padding: 10px 0;}
    .block .content a{padding: 6px 15px 6px 22px;}
    .block .content a.current:after, .block .content a.active:after{z-index: 99;}

    /*--------- new-students page ------------*/
    .explore_student_life .main_explore_student_life_image{display: none;}
    .explore_student_life .explore_student_life_content{position: relative; margin: 30px; margin-bottom: 0;}
    .explore_student_life_content h4{margin-bottom: 30px;}
    .explore_student_life_box{padding-bottom: 30px;}
    .explore_student_life_box .box{margin-left: 0; width: 50%;}
    .explore_student_life_box .box.links ul{padding: 0 20px;}
    .entry_page_right p img{max-width: 100% !important; display: block; margin: 0 auto;}
    .contact_admission h4{margin-bottom: 20px; padding-right: 15px;}
    .contact_admission .content{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .contact_admission .content a{word-wrap: break-word;}
    .admission_information img{padding: 0 6px;}
    .entry_page_right p iframe{width: 100% !important;}

    /*--------- current-students page ------------*/
    .student_services .main_student_services_image{display: none;}
    .student_services .student_services_content{position: relative; margin: 30px; margin-bottom: 0;}
    .student_services_content h4{margin-bottom: 30px;}
    .student_services_box{text-align: center;}
    .student_services_box .box{margin: 0; float: none; padding: 0px 20px 30px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

    /*-----------program page--------------*/
    .customSelect:after{z-index: 99;}
    .program_page_right .requirements{padding-left: 0; margin-top: 10px;} 
    .program_page_right .requirements a{padding: 14px 20px;}
    .program_page_right .bottom_content{margin-left: 0;}    
    .program_page_right .bottom_content .box{width: 100%; border-right: 0;}
    .program_page_right .bottom_content .box + .box{border-left :0; margin-left: 0; border-top: 1px solid #cccccc;}
    .admission_col.left .customSelect{padding: 10px 25px 10px 15px;}

    /*-----------Tuition & funding page--------------*/
    .admission_information img{padding: 0 4px;}
    .cat_page_right .admission_information a.first:hover img{padding-right: 0; padding-left: 4px;}

    /*-----------event page--------------*/
    .pd-left.cat_page_right{padding-right: 0;}
    .pd-left .events_row{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .events_col.first{padding-right: 20px;}
    .events_col.first h2{font-size: 32px;}
    .events_col .events_content{margin-left: 10px;}
    .cal_menu ul{width: 100%;}
    .cal_menu li{margin-right: 0; width: 140px;}
    .calendar table tr td .event_dates{min-height: inherit; height: 170px !important;}
    .calendar .calendar_bottom .overflow-scroll{overflow-x: auto;}
    .events_menu .block{width: 49%;}
    .events_menu .block.right{width: 50%;}
    .events_menu .block.right .social_feed li{margin: 0 6px;}
    .main_section .events_bottom.entry.sruc-scroll-block.tableview table td{padding-right: 15px;}
    .calendar table tr td .event_dates h4{margin-bottom: 0;}

    /*-----------news page--------------*/
    .news_bottom.entry p{margin-top: 10px;}
    .news_bottom.entry p img{max-width: 100% !important; height: auto !important;}
    .new_dates .col .content{margin: 25px 0px 0px 10px;} 
    #sb-container {width: 100% !important; height: 100% !important;}
    .email .submit{padding: 10px 20px; margin-top: -8px; margin-right: -4px;}
}

@media (max-width:1020px) {
    /*----   header   ----*/
    header .header_right {display: none;}
    .grad .head.header_right {display: none;}
    header #mobile-menu {display: block;}
    header .header_left {width: 100%;}
    header .header_left img {max-width: 320px; width: 100%;}
    header.grad .head.header_left {background-size: 100% 80px; width: 100%;}
    header.grad .header_left img {margin: 0; max-width: 315px;}
    header.grad #mobile-menu .menu-trigger {background: none;}

	#globalHeaderContainer .mobile-menu-inner{display: block;}
	#globalHeaderContainer .internalContainer{padding: 0;}
    /* mobile menu */
    #mobile-menu-inner .social-icon{padding: 6px 15px; border-bottom: 1px solid rgb(255, 155, 115);}
    #mobile-menu-inner .social-icon a{color: #f15a22; margin-right: 15px; font-size: 20px;}
    #mobile-menu-inner .mob-inner-search {position: absolute; top: 0; margin: 0; display: block; width: 55px; height: 58px; background: none; }
    #mobile-menu-inner .mob-inner-search img{padding: 21px 20px; width: 16px;}
    #globalHeaderContainer #mobile-menu-inner, #globalHeaderContainer #mobile-menu-inner .menu-trigger{display: block;}
    #mobile-menu-inner .menu-trigger{display: block;width: 55px;height: 58px;position: absolute;-ms-touch-action: manipulation;touch-action: manipulation;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;white-space: nowrap;z-index: 999999;right: 0;top: 0;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease; background: none; }
    #mobile-menu-inner .menu-trigger.open{/*right: calc(100% - 65px);background:#FF5A18*/ position: fixed;}
    #mobile-menu-inner .menu-trigger span, #mobile-menu-inner .menu-trigger span:after, #mobile-menu-inner .menu-trigger span:before{background: #e59aaa;height: 2px;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;} 
    #mobile-menu-inner .menu-trigger span{position: absolute;display: block;width: 20px;left: 50%;top: 50%;transform: translate(-50% , -50%);-webkit-transform: translate(-50% , -50%);-moz-transform: translate(-50% , -50%); background: #fff;}
    #mobile-menu-inner .menu-trigger span:after, #mobile-menu-inner .menu-trigger span:before{content: '';position: absolute;left: 0;width: 100%; background: #fff;}
    #mobile-menu-inner .menu-trigger span:before{top: -6px;}
    #mobile-menu-inner .menu-trigger span:after{bottom: -6px;}
    #mobile-menu-inner .menu-trigger.open span{background-color: rgba(0,0,0,.0)}
    #mobile-menu-inner .menu-trigger.open span:before{top: 0;transform: rotate(45deg);-webkit-transform: rotate(45deg);}
    #mobile-menu-inner .menu-trigger.open span:after{top: 0;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
    #mobile-menu-inner .navbar {background:url("images/site/menu-col-bg.png");position: fixed;top: 58px;width: calc(100% - 0px);height: calc( 100% - 58px );right: -100%;box-sizing: border-box;z-index: 999999999;overflow-y: auto;/*-webkit-overflow-scrolling: touch;*/-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;margin-left: 0px; text-align: left;}
    #mobile-menu-inner .navbar.open{right: 0;}
    #mobile-menu-inner  ul ul{display: none;background:rgb(60, 60, 56);}
    #mobile-menu-inner  ul ul ul{background:rgb(71, 71, 68)}
    #mobile-menu-inner  ul ul ul ul{background:rgb(60, 60, 56)}
    #mobile-menu-inner  li{border-bottom:1px solid rgb(255, 155, 115);list-style: none;position: relative;display: block;margin: 0;}
    #mobile-menu-inner  li:last-child{border-bottom-width: 0;padding-bottom: 0;}
    #mobile-menu-inner  em{display: block;position: absolute;top: 0;right: 10px;width: 30px;height: 39px;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
    #mobile-menu-inner  em:before, #mobile-menu-inner  em:after{content: '';position: absolute;top:50%;margin-top: -1px;left: calc(50% - 8px);width: 16px;height: 2px;background: rgba(239, 88, 33, 1);}
    #mobile-menu-inner  em:after{transform: rotate(-90deg);-moz-transform: rotate(-90deg);-webkit-transform: rotate(-90deg);-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
    #mobile-menu-inner  em.toggled:after{transform: rotate(0);-moz-transform: rotate(0);-webkit-transform: rotate(0);}
    #mobile-menu-inner  em.level-two:before{content: '';position: absolute;width: 0;height: 0;border-style: solid;border-width: 6px 6px 0 6px;border-color: #000 transparent transparent transparent;background-color: transparent;left: 50%;top: 50%;transform: translate(-50% , -50%);-webkit-transform: translate(-50% , -50%);-moz-transform: translate(-50% , -50%);margin: 0;}
    #mobile-menu-inner  em.level-two:after{display: none;}
    #mobile-menu-inner  em.level-two.toggled{transform: rotate(-180deg);-moz-transform: rotate(-180deg);-webkit-transform: rotate(-180deg)}
    #mobile-menu-inner  li a{color: #000;padding: 9px 10px 9px 15px;display: block;margin-right: 30px;text-transform: uppercase;line-height: 20px;font-size: 15px;font-weight: 600;letter-spacing: 0.09em;font-family: "open sans", sans-serif; word-wrap: break-word;}
    #mobile-menu-inner  li a:hover{text-decoration: none;}
    #mobile-menu-inner  li li{border-color: rgb(72, 72, 69)}
    #mobile-menu-inner  li li a{text-transform: none;padding-left: 20px;}
    #mobile-menu-inner  li li li a{padding-left: 25px;margin-right: 0;}
    #mobile-menu-inner  li li li li a{padding-left: 30px;margin-right: 0;}
    #mobile-menu-inner  li a.active{color:#FF5A18;}
    
    .scroll-hidden .grad{position: fixed;}
    .scroll-hidden-top .grad{position: fixed;}
    .scroll-hidden-top #globalHeaderContainer{position: fixed;}
    #globalHeaderContainer{border-bottom: 0; text-align: center;}
    #globalHeaderContainer #globalSmNav{display: none;}
    #globalHeaderContainer .col.span_9_of_12{display: none;}
    #globalHeaderContainer .globalHeaderLogo{width: 260px;}
    #globalHeaderContainer .col{margin: 10px 0; width: 60%;}
    header .header_inner_new{background: #f15a22; text-align: center; position: relative;}
    header .header_inner_new .head.header_left{border-right: 0; margin: 0 auto; float: none; background: none;}
    .grad .header_inner_new .head.header_left{border: 0;}
    
	#mobile-menu-inner li.mobile-top-links {display: block;}
    #mobile-menu li.mobile-top-links {display: block;}
    /* mobile menu */
    #mobile-menu .mob_search {position: absolute; top: 0; display: block; width: 55px; height: 58px; background: none; }
    #mobile-menu .mob_search img{padding: 21px 20px; width: 16px;}
    #mobile-menu, #mobile-menu .menu-trigger{display: block;}
    #mobile-menu .menu-trigger{display: block;width: 55px;height: 58px;position: absolute;-ms-touch-action: manipulation;touch-action: manipulation;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;white-space: nowrap;z-index: 1;right: 0;top: 0;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease; background: none; }
    #mobile-menu .menu-trigger span, #mobile-menu .menu-trigger span:after, #mobile-menu .menu-trigger span:before{background: #e59aaa;height: 2px;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;} 
    #mobile-menu .menu-trigger span{position: absolute;display: block;width: 20px;left: 50%;top: 50%;transform: translate(-50% , -50%);-webkit-transform: translate(-50% , -50%);-moz-transform: translate(-50% , -50%); background: #fff;}
    #mobile-menu .menu-trigger span:after, #mobile-menu .menu-trigger span:before{content: '';position: absolute;left: 0;width: 100%; background: #fff;}
    #mobile-menu .menu-trigger span:before{top: -6px;}
    #mobile-menu .menu-trigger span:after{bottom: -6px;}
    #mobile-menu .menu-trigger.open span{background-color: rgba(0,0,0,.0)}
    #mobile-menu .menu-trigger.open span:before{top: 0;transform: rotate(45deg);-webkit-transform: rotate(45deg);}
    #mobile-menu .menu-trigger.open span:after{top: 0;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
    #mobile-menu .navbar {background:url("images/site/menu-col-bg.png");position: fixed;top: 117px;width: calc(100% - 0px);height: calc( 100% - 116px );right: -100%;box-sizing: border-box;z-index: 999999999;overflow-y: auto;/*-webkit-overflow-scrolling: touch;*/-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;margin-left: 0px; text-align: left;}
    #mobile-menu .navbar.open{right: 0;}
    #mobile-menu  ul ul{display: none;background:rgb(60, 60, 56);}
    #mobile-menu  ul ul ul{background:rgb(71, 71, 68)}
    #mobile-menu  ul ul ul ul{background:rgb(60, 60, 56)}
    #mobile-menu  li{border-bottom:1px solid rgb(255, 155, 115);list-style: none;position: relative;display: block;margin: 0;}
    #mobile-menu  li:last-child{border-bottom-width: 0;padding-bottom: 0;}
    #mobile-menu  em{display: block;position: absolute;top: 0;right: 10px;width: 30px;height: 39px;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
    #mobile-menu  em:before, #mobile-menu  em:after{content: '';position: absolute;top:50%;margin-top: -1px;left: calc(50% - 8px);width: 16px;height: 2px;background: rgba(239, 88, 33, 1);}
    #mobile-menu  em:after{transform: rotate(-90deg);-moz-transform: rotate(-90deg);-webkit-transform: rotate(-90deg);-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
    #mobile-menu  em.toggled:after{transform: rotate(0);-moz-transform: rotate(0);-webkit-transform: rotate(0);}
    #mobile-menu  em.level-two:before{content: '';position: absolute;width: 0;height: 0;border-style: solid;border-width: 6px 6px 0 6px;border-color: #000 transparent transparent transparent;background-color: transparent;left: 50%;top: 50%;transform: translate(-50% , -50%);-webkit-transform: translate(-50% , -50%);-moz-transform: translate(-50% , -50%);margin: 0;}
    #mobile-menu  em.level-two:after{display: none;}
    #mobile-menu  em.level-two.toggled{transform: rotate(-180deg);-moz-transform: rotate(-180deg);-webkit-transform: rotate(-180deg)}
    #mobile-menu  li a{color: #000;padding: 9px 10px 9px 15px;display: block;margin-right: 30px;text-transform: capitalize;line-height: 20px;font-size: 15px;font-weight: 600;letter-spacing: 0.09em;font-family: "open sans", sans-serif; word-wrap: break-word;}
    #mobile-menu  li a:hover{text-decoration: none;}
    #mobile-menu  li li{border-color: rgb(72, 72, 69)}
    #mobile-menu  li li a{text-transform: none;padding-left: 20px;}
    #mobile-menu  li li li a{padding-left: 25px;margin-right: 0;}
    #mobile-menu  li li li li a{padding-left: 30px;margin-right: 0;}
    #mobile-menu  li a.active{color:#FF5A18;}
    .scroll-hidden{overflow: hidden;height: 100%; position: fixed;}
    .scroll-hidden-top{overflow: hidden;height: 100%;}
    
    
    /* mobile menu top navigation */
    #mobile-menu .top-navigation {background: #FF5A18; display: none;}
    #mobile-menu .top-navigation li {display: inline-block; vertical-align: top;}
    #mobile-menu .top-navigation li a {color: #fff;}
    
    /*main links */    
    #mobile-menu .mobile-megamenu {width: 100%; height: auto; display: block; border-top: 10px solid #fff; border-bottom: 10px solid #fff; position: relative; display: none; background: #fff; max-height: 220px; overflow-y: auto;}
    #mobile-menu .mobile-first-links {margin-bottom: 5px;}
    #mobile-menu .arrow-link {padding: 6px 10px; font-weight: 600; font-size: 14px; text-transform: capitalize; color: #002A5C; margin-left: 30px; border-bottom: 1px solid rgb(241, 230, 204); }
    #mobile-menu .arrow-link img {width: 7px; padding-right: 10px; display: none;}
    
    /*  mobile date block */
    #mobile-menu .mobile-date-block {padding-left: 40px; margin-bottom: 0px;}
    #mobile-menu .mobile-date-block h4 {text-transform: uppercase; color: #002A5C; position: relative; padding-bottom: 0px; font-size: 14px; font-weight: 600;}
    #mobile-menu .mobile-date-block h4:after {content:""; background: rgba(255,255,255,0.5); width: 100px; height: 1px; display: none; position: absolute; left: 0px; bottom: 0;}
    #mobile-menu .mobile-date-block a {text-transform: none; font-size: 14px; font-weight: 400; padding: 5px 10px; color: #002A5C;}
    #mobile-menu .mobile-date-block a span {padding-left: 0px; display: block;}
    
    /* mobile event tour block */
    #mobile-menu .mobile-tour-event {padding-left: 40px; margin: 15px 0;}
    #mobile-menu .mobile-tour-event a {padding: 3px 20px 3px 0;}
    #mobile-menu .mobile-tour-event a span{display: block}
    #mobile-menu .mobile-tour-event a h4{font-size: 14px; font-weight: 400; text-transform: none; color: #002A5C;}
    #mobile-menu .mobile-tour-event a h4 strong{font-weight: 600;}
    #mobile-menu .mobile-bottom-link {padding-left: 30px;}
    #mobile-menu .mobile-bottom-link a{padding: 6px 10px; font-weight: 600; font-size: 14px; text-transform: capitalize; color: #002A5C; border-bottom: 1px solid rgb(241, 230, 204); }
    
    /* footer */
    footer .row {height: auto;}
    footer .row .col {width: 100%;}
    footer .row .col_img a {height: 33.33vw;}
    footer .row .col_contact h3 {font-size: 34px;}
    footer .row .col_contact .data h5 {font-size: 16px;}   
    footer .last_row .col+.col {padding-bottom: 0;}
    footer .last_row {padding-bottom: 0px;}

    #globalFooterContainer{text-align: center;}
    #globalFooterContainer .col.span_9_of_12{width: 100%; margin-bottom: 0;}
    #globalFooterContainer .col.span_3_of_12{width: 100%; margin-top: 0; margin-bottom: 20px;}

}

/* 3. large desktop responsive css 1025px to 1200px
----------------------------------------------------*/
@media (min-width:1025px) and (max-width:1200px) {	
	/*----   header   ----*/
    header.grad .head.header_right {padding-right: 0;}
    header .header_right .nav li {margin: 0 3px;}
    header.grad .header_right .nav {margin-top: 5px;}
    header.grad .header_right .nav li .menu {top: 70px; width: calc(100% - 20px)}

    .apply_links a{font-size: 18px; padding: 14px 28px; width: inherit;}
    .other_students{text-align: center;}
    .other_students a{margin-bottom: 10px; width: inherit; padding: 18px 32px;}
    .other_students a + a{float: none;}
    
    .passion .content {max-width: 40%; padding: 30px;}
}

@media (max-width:1230px) {	
	.overflow-scroll {overflow: hidden; width: 100%; padding-bottom: 15px; overflow-x: auto; overflow-y: hidden; -webkit-overflow-scrolling: touch; overflow-scrolling: touch;}
	.main_section.table-str-block table {min-width: 800px; width: 100% !important;}
    .sruc-scroll.tableview-block{overflow: hidden; width: 100%; padding-bottom: 15px; overflow-x: auto; overflow-y: hidden; -webkit-overflow-scrolling: touch; overflow-scrolling: touch;}
	.map{min-width: 570px; width: 100% !important;}
	.events_bottom.entry p img{max-width: 100%;}
}

/* 4. Other media-query
------------------------------------------------*/
@media (max-width:480px){
    /*--------- home page ------------*/
    #globalHeaderContainer .col{margin: 14px 0;}
    #globalHeaderContainer .globalHeaderLogo{width: 200px;}
    .nav-control{top: calc(50% - 80px);}
    .banner_nav{position: static; background-color: rgba(10, 35, 87, 0.89);}
    .banner_nav ul li.first{display: block; text-align: center;}
    .banner_nav ul li.first span{font-size: 18px;}
    .banner_nav li{display: block; padding: 6px 0; margin: 0;}
    .banner h2{font-size: 22px; margin-bottom: 10px; line-height: 26px;}
    .banner h1{font-size: 26px; line-height: 30px; margin-bottom: 20px;}
    .row .col h2{font-size: 26px; line-height: 32px; padding-top: 7px;}
    .row .col h3{font-size: 18px; line-height: 22px; padding-top: 7px;}
    .row .col h4{font-size: 18px; line-height: 22px;}
    .row .col h5{font-size: 14px; padding-top: 10px;line-height: 18px;}
    /*.row.third .inner_row{width: 50%;}
    .row .inner_row_box{width: 100%;}
    .row.first .inner_row_box.left{border-top: 0; border-right: 0;}
    .row.first .inner_row_box.right{border-left: 0;}*/
    .row.first .inner_row_box.take-tour-box h4{font-size: 13px; padding: 20px 5px 0; max-width: 100%;}
    .row.first .inner_row_box.take-tour-box h4:before{font-size: 20px; line-height: 15px; top: 0;}
    .row.third .inner_row_box h3{font-size: 24px; line-height: 28px;} 
    .passion .content h3{font-size: 26px; line-height: 38px; width: 100%; margin-bottom: 15px; padding: 0;}
    .passion .content a{font-size: 14px; padding: 8px 16px; bottom: 12px;}
    .passion .content a:hover{border: 1px solid #89a7ab; background: none;}
    .passion .content img{width: 8px; padding-left: 10px; margin-bottom: 0px;}
    .map_menu ul{padding: 0;}
    .map_menu li a.active:after{display: none;}
    .map_menu li{display: block;}
    .cal_menu ul{width: 100%;}
    .cal_menu li{margin-right: 0; width: inherit; display: block;}
    .cal_menu li+li+li{width: inherit;}
    .cal_menu li+li+li+li{width: inherit;}
    .cal_menu li+li+li+li+li{width: inherit;}
    .cal_menu li+li+li+li+li{width: inherit;}
    .cal_menu li a.active:after{display: none;}
    footer .row .col_contact{width: 100%;}
    footer .last_row .col+.col{width: 100% !important; padding-left: 20px !important;}
    footer .last_row .col+.col+.col+.col{text-align: left; border:none !important;}
    footer .last_row .col+.col+.col{width: 100% !important;}
    footer .row .col_contact+.col_contact, footer .row .col_contact+.col_contact+.col_contact{width: 42%; padding: 10px 20px 20px;}
    footer .row .col_contact+.col_contact.new-newsletter{width: 58%;}
    footer .last_row .col, footer .last_row .col+.col, footer .last_row .col+.col+.col, footer .last_row .col+.col+.col+.col {width: 100%; padding: 0; margin: 0; padding: 10px 20px;box-sizing: border-box; display: block; position: relative; border-bottom: 1px solid rgba(241, 90, 34, 0.21);}
    footer .last_row .col img {float: left;}
    footer .last_row .col input[type="text"] {width: 70%;}
    .explore_student_life_box .box {margin-left: 0; width: 100%; min-width: inherit; }
    .explore_student_life_box .box.first {margin-left: 0; margin: 0 auto; display: inline-block; width: 100%; min-width: inherit;  margin-bottom: 20px;}
    .explore_student_life_box .box.links ul{padding: 0px; width: 100%;}
    .explore_student_life_box .box.links ul li{width: 200px;}
    #cafeUsers{overflow-x: scroll; width: 100% !important;  -webkit-overflow-scrolling: touch; overflow-scrolling: touch;}
}

@media (min-width:1025px) and (max-width:1230px) {  
    .explore{height: auto; max-height: inherit;}
    .explore_content h4{margin: 15px;}
    .explore_content h4:before{left: 15px;}
    .explore .explore_content{margin: 10px;}
    .explore_box .box{width: 33.3333%; padding: 15px; float: none; margin: 0 auto; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .faq_section{padding: 20px;}
    .faqs{width: 100%; padding: 0;}
    .faqs ul{margin-left: 20px;}
    .map_menu ul{padding: 0 20px; text-align: center;}
    .map_menu li{margin: 0; width: inherit;}
    .map_menu li a{padding: 0 15px;}
    .map_menu li+li{margin: 0;}
    .map_menu li+li+li{margin: 0;}
    .explore_student_life .explore_student_life_content{margin: 10px 30px;}
    .explore_student_life_box .box.links ul{width: inherit;}
    .explore_student_life_content h4{margin-bottom: 30px;}
    .main_section .events_bottom.entry.sruc-scroll-block.tableview table td{padding-right: 15px;}

    header .header_inner_new .head.header_left{max-width: 163px;}
    header .header_inner_new .head.header_right{width: calc(100% - 164px);}
    header .header_inner_new .head .nav > ul > li{margin: 0 6px;}
    header .header_inner_new .header_right .nav>ul>li>a{font-size: 12px;}
    header .header_inner_new .head.header_right .nav{width: calc(100% - 300px);}
    header .header_inner_new .head.header_right .nav.first{width: 260px;}
    header .header_inner_new .head .nav.first li{margin: 0 5px;}
    header .header_inner_new .head .nav.first li a{font-size: 11px;}
    header .header_inner_new .head.header_right .search-btn{width: 37px;}
    .grad .header_inner_new .head.header_left{max-width: 163px;}
    .grad .header_inner_new .head.header_right{width: calc(100% - 164px);}
    .grad .header_inner_new .head .nav > ul > li{margin: 0 6px;}
    .grad .header_inner_new .header_right .nav>ul>li>a{font-size: 12px;}
    .grad .header_inner_new .head.header_right .nav{width: calc(100% - 300px);}
    .grad .header_inner_new .head.header_right .nav.first{width: 260px;}
    .grad .header_inner_new .head .nav.first li{margin: 0 5px;}
    .grad .header_inner_new .head .nav.first li a{font-size: 11px;}
    .grad .header_inner_new .head.header_right .search-btn{width: 37px;}
    .banner h1{font-size: 56px;}
    .row .col h2{font-size: 42px; line-height: 45px;}
    .row .col h3{font-size: 32px; line-height: 35px;}
    .passion .content h3{font-size: 32px; line-height: 35px;}
    footer .row .col_contact h3{font-size: 32px;}
    footer .row .col.twitter-feed h3{font-size: 32px;}
    footer .row .col_contact .data h5{font-size: 16px;}
    footer .row .col_contact{width: 38%;}
    footer .new-newsletter input[type="email"]{padding-right: 10px;}
    footer .row .col_contact+.col_contact.new-newsletter{width: 35%;}
}   

 @media (min-width:1231px) and (max-width:1360px) { 
    .main_section .events_bottom.entry.sruc-scroll-block.tableview table{width: 100% !important;}
 }

@media (min-width:1231px) and (max-width:1252px) {
 	header .header_inner_new .head .nav > ul > li{margin: 0 13px;}
 	.grad .header_inner_new .head .nav > ul > li{margin: 0 13px;}
}

 @media (width: 1024px){
 	header .header_inner_new .head.header_left{max-width: 163px;}
    header .header_inner_new .head.header_right{width: calc(100% - 164px);}
    header .header_inner_new .head .nav > ul > li{margin: 0 6px;}
    header .header_inner_new .header_right .nav>ul>li>a{font-size: 12px;}
    header .header_inner_new .head.header_right .nav{width: calc(100% - 300px);}
    header .header_inner_new .head.header_right .nav.first{width: 260px;}
    header .header_inner_new .head .nav.first li{margin: 0 5px;}
    header .header_inner_new .head .nav.first li a{font-size: 11px;}
    header .header_inner_new .head.header_right .search-btn{width: 37px;} 
    .grad .header_right .nav li .menu .col ul li a img{margin-bottom: 0;}
    .grad .header_inner_new .head.header_left{max-width: 163px;}
    .grad .header_inner_new .head.header_right{width: calc(100% - 164px);}
    .grad .header_inner_new .head .nav > ul > li{margin: 0 6px;}
    .grad .header_inner_new .header_right .nav>ul>li>a{font-size: 12px;}
    .grad .header_inner_new .head.header_right .nav{width: calc(100% - 300px);}
    .grad .header_inner_new .head.header_right .nav.first{width: 260px;}
    .grad .header_inner_new .head .nav.first li{margin: 0 5px;}
    .grad .header_inner_new .head .nav.first li a{font-size: 11px;}
    .grad .header_inner_new .head.header_right .search-btn{width: 37px;} 
    .banner h1{font-size: 56px;}
    .row .col h2{font-size: 42px; line-height: 45px;}
    .row .col h3{font-size: 32px; line-height: 35px;}
    .passion .content h3{font-size: 32px; line-height: 35px;}
    footer .row .col_contact h3{font-size: 32px;}
    footer .row .col.twitter-feed h3{font-size: 32px;}
    footer .row .col_contact .data h5{font-size: 16px;}
    footer .row .col_contact{width: 38%;}
    footer .new-newsletter input[type="email"]{padding-right: 10px;}
    footer .row .col_contact+.col_contact.new-newsletter{width: 35%; margin-left: 0;}
    footer .new-newsletter p{line-height: 18px;}
 }